<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <link rel="icon" type="image/x-icon" href="/favicon/favicon.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h3><a href="{{ "/" | absolute_url }}">🔝Return to Homepage</a></h3>

        {% if page.post-logo %}
          <img src="{{page.post-logo | relative_url}}" alt="Logo" />
        {% endif %}

        {% if page.post-desc %}
          <p>{{ page.post-desc }}</p>
        {% endif %}

        <p><a href="/"><strong>Overview</strong></a></p>

        <p><a href="/photos.html"><strong>Photography</strong></a></p>
      </header>
      <section>

        {{ content }}

      </section>
      <footer>
        {% if page.tags %}
          <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
        {% endif %}
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>


